{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Martin</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'web/css/style.css' %}">
	<!-- 内容展示 -->
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/font-awesome.css' %}">
	<!-- 内容展示 -->
</head>
<body>
	<!-- 主题栏 -->
	<div class="divTop"></div>
	<!-- 主题栏 -->
	<!-- 导航栏 -->
	<div class="divNavigation">
			<li class="liNavigation"><a href="#" class="aNavigation">导航1</a></li>
			<li class="liNavigation"><a href="#" class="aNavigation">导航2</a></li>
			<li class="liNavigation"><a href="#" class="aNavigation">导航3</a></li>
			<li class="liNavigation"><a href="#" class="aNavigation">导航4</a></li>
			<li class="liNavigation"><a href="#" class="aNavigation">导航5</a></li>
	</div>
	<!-- 导航栏 -->
{% block main %}
{% endblock main %}

	<!-- 返回顶部 -->	
	<button class="gototop"><span>返回顶部</span></button>
	<script src="{% static 'web/js/jquery-1.11.0.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'web/js/jquery.gototop.min.js' %}"></script>
	<script type="text/javascript">
		$(function(){
				// $(".gototop").gototop();
				$(".gototop").gototop({
					position : 0,
					duration : 1250,
					visibleAt : 300,
					classname : "isvisible"
				});
			});
	</script>
	<!-- 返回顶部 -->

</body>
</html>