{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
	<div class="spiritcontian">
		<div style="padding: 40px;">
		<span>当前位置：<a href="#">首页</a>&gt;<a href="#">当前位置</a></span>
		{% for categorypost in category_list %}
		<article style="border-bottom: 2px solid #c91c1c;margin-top: 25px;" class="post post-{{post.pk}}">
			<a style="font-size: 22px;text-decoration: none;" href="{{ categorypost.get_absolute_url }}">{{ categorypost.title }}</a>
		</article>
		{% endfor %}
		</div>
	</div>
	<!-- 正文区 -->
{% endblock main %}