{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
	<!-- 图片展示 -->
	<div class="container-p">
		<div class="box-p"><img src="{% static 'web/img/1000x800.jpg' %}"><span>TEST1</span></div>
		<div class="box-p"><img src="{% static 'web/img/1000x800.jpg' %}"><span>Test2</span></div>
		<div class="box-p"><img src="{% static 'web/img/1000x800.jpg' %}"><span>Test3</span></div>
		<div class="box-p"><img src="{% static 'web/img/1000x800.jpg' %}"><span>Test4</span></div>
	</div>
	<!-- 图片展示 -->

	<!-- 内容展示区 -->
	<div id="body-div">
	<!-- 分类一 -->
	<div class="body-container-p">
		<a href="{% url 'web:category0' %}" class="acatalogue"><span class="spancatalogue">七十华诞</span></a>
	</div>
	<div class="body-container-p" style="background-color: azure">
		<li class="box-picture">
			<img src="{% static 'web/img/1.jpg' %}">
			<div class="box-picture-content">
				<h3 class="title">雷神索尔</h3>
				<span class="post">卡通恶搞造型</span>
			</div>
		</li>
		<li class="box-picture">
			<img src="{% static 'web/img/1.jpg' %}">
			<div class="box-picture-content">
				<h3 class="title">雷神索尔</h3>
				<span class="post">卡通恶搞造型</span>
			</div>
		</li>
		<li class="box-picture">
			<img src="{% static 'web/img/1.jpg' %}">
			<div class="box-picture-content">
				<h3 class="title">雷神索尔</h3>
				<span class="post">卡通恶搞造型</span>
			</div>
		</li>
		<li class="box-picture">
			<img src="{% static 'web/img/1.jpg' %}">
			<div class="box-picture-content">
				<h3 class="title">雷神索尔</h3>
				<span class="post">卡通恶搞造型</span>
			</div>
		</li>
	</div>
	<div class="body-container-p" style="background-color: azure">
		<li class="box-picture">
			<img src="{% static 'web/img/1.jpg' %}">
			<div class="box-picture-content">
				<h3 class="title">雷神索尔</h3>
				<span class="post">卡通恶搞造型</span>
			</div>
		</li>
		<li class="box-picture">
			<img src="{% static 'web/img/1.jpg' %}">
			<div class="box-picture-content">
				<h3 class="title">雷神索尔</h3>
				<span class="post">卡通恶搞造型</span>
			</div>
		</li>
		<li class="box-picture">
			<img src="{% static 'web/img/1.jpg' %}">
			<div class="box-picture-content">
				<h3 class="title">雷神索尔</h3>
				<span class="post">卡通恶搞造型</span>
			</div>
		</li>
		<li class="box-picture">
			<img src="{% static 'web/img/1.jpg' %}">
			<div class="box-picture-content">
				<h3 class="title">雷神索尔</h3>
				<span class="post">卡通恶搞造型</span>
			</div>
		</li>
	</div>
	<!-- 分类一 -->
	<!-- 分类二 -->
	<div class="body-container-p">
		<a href="{% url 'web:category1' %}" class="acatalogue"><span class="spancatalogue">风华正茂</span></a>
	</div>
	<div class="body-container-p">
		<div id="wrapper" style="display: inline-block">
			<div id="slider-wrap">
			  <ul id="slider">
				 <li>
					<img src="{% static 'web/img/4.jpg' %}">
					<div>
						<h3>Slide #1</h3>
					</div>                
				 </li>

				 <li data-color="#3498db">
					<div>
						<h3>Slide #2</h3>
					</div>
				 </li>

				 <li data-color="#9b59b6">
					<div>
						<h3>Slide #3</h3>
					</div>
				 </li>

				 <li data-color="#34495e">
					<div>
						<h3>Slide #4</h3>
					</div>
				 </li>

				 <li data-color="#e74c3c">
					<div>
						<h3>Slide #5</h3>
					</div>
				 </li>


			  </ul>

			   <!--controls-->
			  <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
			  <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
			  <div id="counter"></div>

			  <div id="pagination-wrap">
				<ul>
				</ul>
	  </div>
	  <!--controls-->  
			 
	</div>
</div>
	 	<script src="{% static 'web/js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'web/js/slide.js' %}"></script>
		<div id="catalogue-two">
			<div class="catalogue-two-one"></div>
			<div class="catalogue-two-one"></div>
			<div class="catalogue-two-one"></div>
		</div>	
	</div>
	<!-- 分类二 -->
<!-- 分类三 -->
	<div class="body-container-p">
		<a href="{% url 'web:category2' %}" class="acatalogue"><span class="spancatalogue">广工学子</span></a>
	</div>
	<div class="body-container-p">
		<div class="catalogue-three">
			<a href="#">test</a>
			<span></span><div style="word-wrap:break-word;">fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</div>
			<div></div>
		</div>
		<div class="catalogue-three">
			<a href="#">test</a>
			<span></span>
			<!-- word-wrap:break-word 强制换行-->
			<div style="word-wrap:break-word;">fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</div>
			<div></div>
		</div>
		<div class="catalogue-three">
			<a href="#">test</a>
			<span></span>
			<div style="word-wrap:break-word;">fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</div>
		</div>
	</div>
	<!-- 分类三 -->
	<!-- 分类四 -->
	<div class="body-container-p">
		<a href="{% url 'web:category3' %}" class="acatalogue"><span class="spancatalogue">创新活动</span></a>
	</div>
	<div class="body-container-p" style="background-color: azure">
		<li class="box-picture">
			<img src="{% static 'web/img/1.jpg' %}">
			<div class="box-picture-content">
				<h3 class="title">雷神索尔</h3>
				<span class="post">卡通恶搞造型</span>
			</div>
		</li>
		<li class="box-picture">
			<img src="{% static 'web/img/1.jpg' %}">
			<div class="box-picture-content">
				<h3 class="title">雷神索尔</h3>
				<span class="post">卡通恶搞造型</span>
			</div>
		</li>
		<li class="box-picture">
			<img src="{% static 'web/img/1.jpg' %}">
			<div class="box-picture-content">
				<h3 class="title">雷神索尔</h3>
				<span class="post">卡通恶搞造型</span>
			</div>
		</li>
		<li class="box-picture">
			<img src="{% static 'web/img/1.jpg' %}">
			<div class="box-picture-content">
				<h3 class="title">雷神索尔</h3>
				<span class="post">卡通恶搞造型</span>
			</div>
		</li>
	</div>
	<div class="body-container-p" style="background-color: azure">
		<li class="box-picture">
			<img src="{% static 'web/img/1.jpg' %}">
			<div class="box-picture-content">
				<h3 class="title">雷神索尔</h3>
				<span class="post">卡通恶搞造型</span>
			</div>
		</li>
		<li class="box-picture">
			<img src="{% static 'web/img/1.jpg' %}">
			<div class="box-picture-content">
				<h3 class="title">雷神索尔</h3>
				<span class="post">卡通恶搞造型</span>
			</div>
		</li>
		<li class="box-picture">
			<img src="{% static 'web/img/1.jpg' %}">
			<div class="box-picture-content">
				<h3 class="title">雷神索尔</h3>
				<span class="post">卡通恶搞造型</span>
			</div>
		</li>
		<li class="box-picture">
			<img src="{% static 'web/img/1.jpg' %}">
			<div class="box-picture-content">
				<h3 class="title">雷神索尔</h3>
				<span class="post">卡通恶搞造型</span>
			</div>
		</li>
	</div>
	<!-- 分类四 -->
	</div>
{% endblock main %}