{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
	<!-- 正文区 -->
	<div class="spiritcontian">
		<div style="padding: 40px;">
		<span>当前位置：<a href="#">首页</a>&gt;<a href="#">分类</a>&gt;<a href="#">当前位置</a></span>
		<div class="headline">
			{{ post.title }}
		</div>
		<div style="padding: 40px;font-size: 18px;">
			{{ post.body|safe }}
		</div>
	<!-- 上一篇，下一篇 -->
		<div>
			<span>下一篇：<a href="#">dudududu</a></span>
		</div>
		<div>
			<span>上一篇：<a href="#">dudududu</a></span>
		</div>
	</div>
	<!-- 上一篇，下一篇 -->
{% endblock main %}